
button {
  border: none;
  background-color: lightgray;
  padding: 10px 20px;
}

button:active {
  background-color: darkgray;
}

#root {
  margin: 50px 0;
}
#root > div {
  display: flex;
  flex-direction: column;
  gap: 20px
}

#root > div > div {
  display: flex;
  justify-content: center;
  gap: 10px;
}
